.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  margin: 20px 0;
}
@import url("./productItem.css");

.delete__all {
  justify-content: flex-end;
  margin: 20px;
  display: flex;
  align-items: center;
}
.delete__all input {
  height: 25px;
  width: 25px;
  margin: 0 10px;
}
.delete__all span {
  text-transform: uppercase;
  color:red;
}
.delete__all button{
  text-transform: uppercase;
  border: 1px solid #ccc;
  padding:4px;
  color: red;
}
.filter{
  width: 100%;
  min-height: 40px;
  display:flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  flex-wrap: wrap;
  margin:15px 0;
}
.filter input,
.filter select{
  border:1px solid #ccc;
  outline:none;
  padding:5px 15px;
  height:40px;
}
.filter input{
  flex:1;
  margin:0 10px;
}
.load__more{
  text-align: center;
}
.load__more button{
  padding: 10px 25px;
  border:1px solid #ccc;
  text-align: center;
  margin-bottom: 20px;
}